*{
  margin: 0;
  padding: 0;
}

html, 
body{
  font-size: 16px;
  background-color: #4ABDAC;
}

h1{
  max-width: 940px;
  font-size: 5.5em;
  color: transparent;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin: 40px 0;
  font-style: initial;
  background-image: url(./imagenes/pexels-tres.jpg);
  background-size: cover;
  background-position-y:  center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  

}
.contenedor-testimonio {
  border-radius: 25px;
 

}

.imagen-testimonio{
  border-radius: 25px 0 0 25px;
}